body{
 background-color: 
#FBFCFD;

}
/* .main {

height: 100%;
display: flex;
/* align-items: center; */
/* flex-direction: column; */


/* } */ 

.main {
  margin: 0;
  padding: 0;
    display: flex;
    justify-content: center;
    /* Set margins to create left and right spacing */
    margin-left: 20px; /* Adjust as needed */
    margin-right: 20px; /* Adjust as needed */
  }
  
  .middle {
    /* Styles for the middle section */
    width: 100%; /* Adjust width as needed */
    max-width: 1003px; /* Example maximum width */
    /* Additional styles such as background color, padding, etc. */
  }
.show{
 
}
.header_sec{
 
}


